import /init.j1minivelte_base.rc

on boot
	# IPSec for VOLTE
	chown root system /dev/socket
	chmod 0775 /dev/socket
	chown media system /sys/class/camera/flash/rear_torch_flash

on fs
service ipsec-daemon /system/bin/IPSecService
	class main
	socket ipsec_socket stream 660 system system
	user system
	group system net_raw inet net_admin

